<form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/mnqwllwj" method="post">
  <fieldset id="fs-frm-inputs">
    <label for="full-name">Prénom/Nom/Pseudo</label>
    <input type="text" name="name" id="full-name" placeholder="C'est comme vous voulez :)" required="">
    <label for="email-address">Email Address</label>
    <input type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
    <label for="message">Message</label>
    <textarea rows="5" name="message" id="message" placeholder="N'hésitez pas à nous contacter !" required=""></textarea>
    <input type="hidden" name="_subject" id= "email-subject" value="Contact Form Submission">
  </fieldset>
  <input type="submit" value="Envoyer">
</form>
